body {
  background-color: #04293a;
}
.app {
  background-color: antiquewhite;
  max-width: 800px;
  margin: 60px auto;
  box-sizing: border-box;
  border-style: none;
  border-radius: 10px;
  color: rgb(4, 28, 50);
}
.container {
  display: block;
  max-width: 720px;
  padding: 20px;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
}
.WeatherInfo {
  padding-top: 20px;
}
.cityInfo {
  padding-left: 20px;
}
h1 {
  font-family: "Rock 3D", cursive;
}
.description {
  text-transform: capitalize;
}
.humidity {
  color: #781d42;
}
.wind {
  color: #781d42;
}
.icon {
  padding-top: 20px;
  color: rgb(4, 28, 50);
  padding-left: 90px;
  font-weight: 700;
  font-size: 60px;
  line-height: 1;
}
.unit {
  position: relative;
  font-weight: 400;
  font-size: 15px;
  bottom: 25px;
}
.WeatherForecast {
  text-align: center;
}
.highest-temperature {
  color: #781d42;
}
.lowest-temperature {
  color: #704355;
}
.project {
  padding-top: 20px;
  text-align: center;
  font-size: small;
}
.word {
  color: #781d42;
}
